- var timeStamp=new Date().getTime()
script(type="text/javascript" src="/sea-modules/seajs/seajs/2.1.1/sea.js?t=#{timeStamp}")
script(type="text/javascript" src="/js/sea.config.js?t=#{timeStamp}")
#header
		//- logo
		a(href="./" class="logo") 慕课网
		//- 导航
		ul.list
			li
				a(href="javascript:void(0);") 课程
			li
				a(href="javascript:void(0);") 计划
			li
				a(href="javascript:void(0);") 分享
			li
				a(href="javascript:void(0);") 社区
		//- 登录注册
		- var isLogin=true
		- var tipsNum=7
		//- 未登录
		- if (!isLogin)
			.login-area
				a(href="javascript:void(0);" class="header-signin") 登录
				a(href="javascript:void(0);" class="header-signup") 注册
		- else
			.login-area.logined
				ul.logined-list
					li
						a(href="javascript:void(0);" class="pop-tips" title="我的消息")
							- if (tipsNum>99)
								i ...
							-else if (tipsNum >0)
								i #{tipsNum}
					li(class="user-card-list")
						a(href="javascript:void(0);" class="my-header")
							img(src="/img/user-head.jpg" class="head")
						.user-card
							.card-inner
								.card-top
									img(src="/img/user-head-mid.jpg" class="card-head-img fl")
									span(class="user-name") 熊熊109
									p(class="meta")
										a(href="javascript:void(0);")
											| 经验
											i(class="js-user-mp") 9852
										a(href="javascript:void(0);")
											| 积分
											b(class="js-user-mp") 20
								.card-links
									a(href="javascript:void(0);") 我的慕课
									a(href="javascript:void(0);") 我的社区
								.card-history
									span(class="history-class-name") 大神的课堂
									p(class="history-class-detail") 1-1 大神简介
									i(class="icon-clock history-icon")
									a(href="javascript:void(0);" class="fr") 继续
								.card-setting
									a(href="javascript:void(0);" class="fl") 个人设置
									a(href="javascript:void(0);" class="fr") 退出
		.down-app
			a(href="javascript:void(0);")
				i(class="down-phone")
				|慕课APP
		//- 搜索框
		.search-area
			input(class="search-input" type="text" placeholder="请输入想搜索的内容...")
			ul(class="search-list")
				li 字体
			input(class="search-btn" type="button" value="")